<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Job</title>
</head>

<body>
    <form action="/jobs" method="post">
        <label for="name">Job title</label>
        <input id="name" name="name" type="text">
        <label for="desccription">Desccription of job</label>
        <input id="description" name="description" type="text">
        <label for="email">Contact email of job poster</label>
        <input id="email" name="email" type="text">
        <button type="submit">Submit job posting</button>
    </form>
</body>
</html>